*{
	padding: 0em;
	margin: 0em;
}
/*-------------------------------*/
/*     Header Footer Section     */
/*-------------------------------*/

header, section, footer{
	display: block;
}

header{
	height: 9em;
	background: -webkit-linear-gradient(65deg, #affff0, #d6acf1);
	text-align: center;
	overflow: hidden;
	border-bottom: .5em solid #272727;
}
.logo_img{
	/border: 1px solid red;
	position: relative;
}
#lessthan{
	top: -2em;
	left: 3em;
	animation: lessthan 2s ease-in-out;
}
#slash{
	left: .5em;
	top: -0.5em;
}
#code{
	width: 16em;
	top: -3em;
	left: -1.5em;
	animation: code 1.3s ease-in-out;
	transform-origin : 0% 0%;
}
#share{
	width: 20em;
	top: -3em;
	left: -1.5em;
	animation: share 1s ease-in-out;
	transform-origin : 100% 100%;
}
#greaterthan{
	top: -2em;
	left: -2.5em;
	animation: greaterthan 1.5s ease-in-out;
}
body
{
	background: -webkit-linear-gradient(45deg, #ffffff, #868686);
}
/*------------------------------------------*/
/*     			Main Page					*/
/*------------------------------------------*/
#main_page{
	max-width: 1500px;
	min-height: 35em;
	margin: 0em auto;
}

/*------------------------------------------*/
/*     			 	Section 				*/
/*------------------------------------------*/

#login_logout{
	background: -webkit-linear-gradient(45deg, #90ffe3, #d0ffc7);
	width: 32.5em;
	height: 24em;
	text-align: center;
	position: relative;
	margin: 4em auto;
	transform-origin: 0% 0%;
	border-radius: 1em;
	box-shadow: 3px 3px 3px black;
	animation: corner_rotate 2s ease-in-out;
}
#box_corner{
	width: 15em;
	position: absolute;
	transform: rotate(90deg);
	top: -1.4em;
	left: -.5em;
}
#registration_section_wrapper{
	position : relative;
}

#sign_in_section{
	position: absolute;
	top: 0em;
	height: 18em;
	transform: rotateY(180deg);
	display: none;
}
.registration_section{
	margin: 0em auto;
	min-height: 18em;
	padding: 3em 2em 2em 2em;
	border-radius: 1em;
	border-bottom-right-radius: 8em;
}


.registration_section ul li{
	list-style-type: none;
	width: 13em;
	margin: 0em auto;
	font-size: 2em;
	background: white;
	margin: .5em;
	padding: .1em;
	border-radius: .2em;
}

.ll_input{
	width: 87%;
	font-weight: bold;
	font-size: .8em;
	border: none;
	padding: .2em;
	background: none;
	outline: none;
}
::-webkit-input-placeholder{
	background: white;
}
::placeholder{
	background: white;
}

#login_btn{
	font-size: 2em;
	font-weight: bold;
	padding: .1em 1em;
	border: none;
	background: -webkit-linear-gradient(45deg, #85a5e0, #f1bbff);
	border-radius: .3em;
	box-shadow: 3px 3px 10px #2b2a2a; 
	outline: none;
	cursor: pointer;
}
#note{
	font-size: 1.5em;
	font-weight: bold;
	margin: .5em;
	font-family: tahoma;
}

.registration_director{
	color: #4039e6;
	cursor: pointer;
}

.label{
	font-size: 2.2em;
	border-bottom: 3px solid #8c8484
}



/*------------------------------------------*/
/*     				Editor					*/
/*------------------------------------------*/
#editor_wrapper{
}
#u_editor_wrapper{
	min-width: 30%;
	max-width:70%;
	width: 52%;
	float: left;
	position: relative;
}

#dragbar{
	width: 2px;
	height: 100%;
	float: right;
	background-color:#595b5d;
	cursor: col-resize;	
	position: absolute;
	right: 0em;
	top: 0em;
}
#f_editor_wrapper{
	width: 48%;
	min-width: 30%;
	max-width:70%;
	float: right;
}

.editor{
	height: 42em;
	width: 85%;
	margin: 1em auto;
	background: #292929;
	animation : increase_height 1s ease-in-out;
	position: relative;
	padding: .5em 0em;
	overflow: hidden;
}
#editor_tab_wrapper{
	margin-top: 1em;
	width: 100%;
	overflow-x : scroll;
}
#editor_tab_wrapper::-webkit-scrollbar {
    height: .4em;
}
 
#editor_tab_wrapper::-webkit-scrollbar-track {
    background: #3a3a3a;
}
 
#editor_tab_wrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
#tab_list{
	min-width: 15em;
}
.tab{
	font-size: 1.1em;
	background: black;
	width: 6em;
	margin: 0em 0em;
	padding: .2em .2em;
	color: white;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
	font-family: tahoma;
	display: inline-grid;
	text-align: center;
	cursor: pointer;
}
#editor_header{
	height: 1.5em;
	line-height: 1.5em;
	padding: 0em .5em;
	background: #b3b1b1;
	min-width: 6.5em;
	margin: .5em 0em;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	font-size: 1.3em;
	font-weight: bold;
	color: #000000;
	font-family: tahoma;
}
.user_space{
	font-size: 2em;
	font-weight: bold;
	font-family: tahoma;
	margin: .3em 0em;
	width: 85%;
	height: 1.3em;
	background: -webkit-linear-gradient(45deg, #b7b7b7, #231f1f);
	color: white;
	border: .1em solid #292929;
	background: -webkit-linear-gradient(45deg, #7893e0, #d1f9dc);
	border-radius: .3em;
	overflow: hidden;
}

#text_area_wrapper{
	background: black;
	text-align: center;
	position: relative;
	min-height: 37.3em;
}

#text_area{
	resize: none;
	background-color: #000000;
	width: 90%;
	height: 31.5em;
	color: white;
	padding: .5em;
	outline: none;
	border: none;
	font-size: 1.4em;
	display: none;
}
#text_area::placeholder{
	background: black;
}

#mid{
	border: 3px dashed silver;
	margin: 0em auto;
	width: 80%;
	max-width: 30em;
	position: relative;
	top: 4em;
	padding: 3em 0em;
	border-radius: 1.5em;
	color: white;
}

.file_type{
	display: inline-grid;
	width: 30%;
	min-width: 7em;
	position: relative;
	height: 9em;
	margin: 0em .5em;
	cursor: pointer;
	overflow: hidden;
}
#file_type_icon{
	font-size: 6em;
	color: #545454;
}

#file_type_label{
	font-family: tahoma;
	color: #545454;
	font-weight: bold;
	position: relative;
	top: -1em;
}
#file_code{
	position: absolute;
	font-size: 7em;
	opacity: 0;
	cursor: pointer;
}

#connection_form_wrapper{
}
#f_id{
	background: #000000;
	outline: none;
	font-size: 2em;
	width: 80%;
	border: 1px solid white;
	border-right: none;
	padding: .1em;
	border-top-left-radius: .2em;
	border-bottom-left-radius: .2em;
	color: white;
}
#f_id::placeholder{
	background: #000000;
}
#connect_btn{
	background: #d4d4d4;
	font-size: 2em;
	border: 1px solid white;
	padding: .1em;
	border-top-right-radius: .2em;
	border-bottom-right-radius: .2em;
	outline: none;
	cursor:pointer;
}

#request_wrapper{
	margin: .5em 0.5em;
	padding: .3em .8em;
}
#request_wrapper h3{
	font-family: tahoma;
	text-align: left;
	color: #a978ff;
}

#connection_status{
	width: 80%;
	margin: 1em auto;
	text-align: center;
	font-family: tahoma;
	font-size: 2em;
}
#connection_status span{
	opacity: 0;
}

#conn_status_gif{
	width: 100%;
	max-width: 80%;
}
/*
.keyword{
	color: #719ffd;
}
.bracket{
	color: white;
}
.parameter{
	color: #d0b92e;
}

.hidden_underscore{
	color: black;
}

.function{
	color: #75f376;
}

#w{
	animation : status 7.2s infinite ;
	animation-delay: 7s;
}
#wh{
	animation : status 7s  ;
	animation-delay : 7.2s;
}
#whi{
	animation : status 6.8s  ;
	animation-delay : 7.4s;
}
#whil{
	animation : status 6.6s  ;
	animation-delay : 7.6s;
}
#while{
	animation : status 6.4s  ;
	animation-delay : 7.8s;
}

#firstopenbrace{
	animation : status 6.2s  ;
	animation-delay : 8s;
}

#c{
	animation : status 6s  ;
	animation-delay : 8.2s;
}
#co{
	animation : status 5.8s  ;
	animation-delay : 8.4s;
}
#con{
	animation : status 5.6s  ;
	animation-delay : 8.6s;
}
#conn{
	animation : status 5.4s  ;
	animation-delay : 8.8s;
}
#conne{
	animation : status 5.2s  ;
	animation-delay : 9s;
}
#connec{
	animation : status 5s  ;
	animation-delay : 9.2s;
}
#connect{
	animation : status 4.8s  ;
	animation-delay : 9.4s;
}
#connecti{
	animation : status 4.6s  ;
	animation-delay : 9.6s;
}
#connectin{
	animation : status 4.4s  ;
	animation-delay : 9.8s;
}
#connecting{
	animation : status 4.2s  ;
	animation-delay : 10s;
}
#firstclosebrace{
	animation : status 4s   ;
	animation-delay : 10.2s;
}
#firstopencurlybrace{
	animation : status 3.8s  ;
	animation-delay : 10.4s;
}
#ft{
	animation : status 3.6s ;
	animation-delay : 10.6s;
}

#fa{
	animation : status 3.4s  ;
	animation-delay : 10.8s;
}

#fk{
	animation : status 3.2s  ;
	animation-delay : 11s;
}

#fe {
	animation : status 3s  ;
	animation-delay : 11.2s;
}
#secondopenbrace{
	animation : status 2.8s  ;
	animation-delay : 11.4s;
}
#C{
	animation : status 2.6s  ;
	animation-delay : 11.6s;
}

#Ch{
	animation : status 2.4s  ;
	animation-delay : 11.8s;
}

#Chi{
	animation : status 2.2s  ;
	animation-delay : 12s;
}

#Chil{
	animation : status 2s  ;
	animation-delay : 12.2s;
}

#Chill{
	animation : status 1.8s  ;
	animation-delay : 12.4s;
}

#P{
	animation : status 1.6s  ;
	animation-delay : 12.6s;
}

#Pi{
	animation : status 1.4s  ;
	animation-delay : 12.8s;
}
#Pil{
	animation : status 1.2s  ;
	animation-delay : 13s;
}
#Pill{
	animation : status 1s  ;
	animation-delay : 13.2s;
}
#secondclosebrace{
	animation : status .8s  ;
	animation-delay : 13.4s;
}
#semicolon{
	animation : status .6s  infinite;
	animation-delay : 13.6s;
}

#firstclosecurlybrace{
	animation : status .4s  ;
	animation-delay : 13.8s;
}
*/






/*------------------------------------------*/
/*     			Animation					*/
/*------------------------------------------*/

@keyframes lessthan{
	0%{top: -10em; left : -4em; transform : rotate(100deg)}
	10%{ left : -4em; top : -2em}
	20%{left : -4em; top: -6em}
	30%{left : -4em; top : -2em}
	40%{left : -4em; top : -3em}
	45%{left : -4em; top: -2em}
	100%{left : 3em; top: -2em; transform : rotate(0deg)}
}
@keyframes greaterthan{
	0%{top: -10em; left : 2em; transform : rotate(40deg)}
	10%{ left : 2em; top : -2em}
	20%{left : 2em; top: -6em}
	30%{left : 2em; top : -2em}
	40%{left : 2em; top : -3em}
	45%{left : 2em; top: -2em}
	100%{left : -2.5em; top: -2em; transform : rotate(0deg)}
}
@keyframes code{
	0%{top: -10em; transform: rotate(-90deg); left: -4em}
	10%{top: 2em; left : -4em; transform : rotate(-90deg)}
	100%{transform : rotate(0deg); top: -3em; left : -1.5em}
	
}
@keyframes share{
	0%{top: -20em; transform: rotate(60deg); left: -4em}
	10%{top: -3em; left : -4em; transform : rotate(80deg)}
	100%{transform : rotate(0deg); top: -3em; left : -1.5em}
}

@keyframes corner_rotate{
	0%{transform :  rotate(-50deg)}
	25%{transform : rotate(45deg)}
	50%{transform : rotate(-20deg)}
	75%{transform : rotate(5deg)}
	100%{transform : rotate(0deg)}
}

@keyframes shake{
	0%{transform : rotate(0deg)}
	40%{transform : rotate(30deg)}
	80%{transform : rotate(-10deg)}
	100%{transform : rotate(0deg) }
}

@keyframes increase_height{
	from{height: 0em}
	to{height: 42em}
}
@keyframes status{
	0%{opacity : 0}
	10%{opacity: 1}
	100%{opacity: 1}
}